<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="App.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%: Page.Title %> - Tambo Admin</title>
    <link href="Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/Font-Awesome/css/all.min.css" rel="stylesheet" />
    <link href="Content/Fonts/fonts.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/jquery-3.7.1.min.js"></script>
    <script src="Scripts/datatables.min.js"></script>
    <link href="Content/DataTables/datatables.min.css" rel="stylesheet">
</head>
<body>
    <form class="flex-form" id="form1" runat="server">

        <!-- Sidebar -->
        <aside class="sidebar">

            <div class="sidebar-logo">
                <h2>TamboApp</h2>
            </div>

            <nav class="sidebar-nav">
                <a href="/">📊 Dashboard</a>
                <a href="/cria">🐄 Cría</a>
                <a href="/recria">🥩 Recría</a>
                <a href="/recursos-forrajeros">🌱 Recursos</a>
                <a href="/calendario">📅 Calendario</a>
                <a href="/contabilidad">💰 Contabilidad</a>
            </nav>

            <div class="sidebar-nav">
                <a href="/configuracion">⚙ Configuración</a>
                <a href="/home">⏻ Salir</a>
            </div>
        </aside>

        <div class="main-area">
        
            <!-- Topbar -->
            <header class="topbar">
                <div><i class="fa fa-bell fa-2x"></i></div>
                <div><i class="fa p-2 fa-user border rounded-5 border-white"></i></div>
            </header>

            <!-- Contenido de página -->
            <main>
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </main>

        </div>

    </form>

    <!-- Botón para subir -->
    <script type="text/javascript">
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</body>
</html>
